{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock css %}

{% block otherlink %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
{% endblock otherlink %}

{% block title %}
  Login
{% endblock title %}

<!-- Sign in -->
{% block body %}

  <div class="login-box">
    <h1>Login</h1>
    <form method="POST">

      {% csrf_token %}

      <span class="error"> {{fm.non_field_errors|striptags}} </span>      
        {% for f in fm %}
          {{f.label_tag}}  
          {{f}} 
        {% endfor %}

        <button> Submit </button>
        <br> <br>

        <p class="para-2">
          Not have an account? <a href="{% url 'signup' %}"> Sign Up Here </a>
        </p>
        <p class="para-2" >
           <a href="{% url 'password_reset' %}"> Forgot Password </a>
        </p>
      </form>
  </div>

{% endblock body %}