{% extends "base.html" %}
{% load static %}

{% block title %}
  Orders | ApniCar
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
  
{% endblock css %}
{% block body %}
  
<!-- <h2>order</h2>  -->


{% if not user_buy.exists and not user_sell.exists %}
<div class="empty">
    <div class="p">
      <p> No orders found !!</p>
    </div>
  </div>
{% endif %}


{% if user_buy.exists %}

<div class="buy-box">

  <h2 style="text-align: center;" > Buying History </h2> <br>
  <table >
    <thead>
      <tr>
        <th> Name</th>
        <th> Model Name</th>
        <th> Regi. No</th>
        <th> Price</th>
        <th> Transmmision</th>
        <th> KM driven </th>
        <th> Seat </th>
        <th> No of owner </th>
        <th> Fuel Type</th>
        <th> Purchase Date</th>
        <th> Image </th>
      </tr>
    </thead>
    <tbody>
      {% for item in user_buy %}
        <tr>
          <td> {{item.car_name}} </td>
          <td> {{item.model_id}} </td>
          <td> {{item.reg_num}} </td>
          <td> {{item.price}} </td>
          <td> {{item.transmission}} </td>
          <td> {{item.km_driven}} </td>
          <td> {{item.seats}} </td>
          <td> {{item.no_of_owner}} </td>
          <td> {{item.fuel_type}} </td>
          <td> {{item.purc_date}} </td>
          <td> 
            <a href="{% url 'car' item.car_id %}">
              <!-- <img src="/media/{{buy_img.image_path}}" alt="{{buy_img.image_path}}" class="img"> -->
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>  
  </table>
</div>
{% endif %}

<br><br>

{% if user_sell.exists %}

<div class="sell-box">

  <h2 style="text-align: center;" > Selling History </h2> <br>
  <div class="table-data">

      <table>
        <thead>
          <tr>
            <th> Name</th>
            <th> Model Name</th>
            <th> Regi. No</th>
            <th> Price</th>
            <th> Transmmision</th>
            <th> KM driven </th>
            <th> Fuel Type</th>
            <th> Status</th>
            <!-- <th> Image </th> -->
          </tr>
       </thead>
      <tbody>
        {% for item in user_sell %}
          <tr>
            <td> {{item.car_name}} </td>
            <td> {{item.model_name}} </td>
            <td> {{item.reg_num}} </td>
            <td> {{item.car_price}} </td>
            <td> {{item.transmission}} </td>
            <td> {{item.km_driven}} </td>
            <td> {{item.fuel_type}} </td>
            <td> {{item.status}} </td>
            <!-- <td> 
                <a href="{% url 'car' item.car_request_id %}">
                  <img src="/media/{{sell_img.image_path}}" alt="{{sell_img.image_path}}" class="img">
                </a>
            </td> -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>


{% endblock body %}