{% extends "base.html" %}
{% load static %}

{% block title %}
  Registration
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock css %}

{% block otherlink %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
{% endblock otherlink %}


{% block body %}      
    
    <div class="signup-box">
      
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      <form method="POST" enctype="multipart/form-data" >
        
        {% csrf_token %}
        
        {% for f in fm %}
          {{f.label_tag}}  
          {{f}} <span class="error"> {{f.errors|striptags}} </span>
        {% endfor %}
      
        <br>
        <button> Register </button>

      </form>
      <!-- <p> By clicking the Sign Up button,you agree to our <br /> <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a> </p> -->
      <br>
      
      <p class="para-2">  
        Already have an account? <a href="{% url 'login' %}">Login here</a>
      </p>

    </div>

{% endblock body %}
