{% extends "base.html" %}

{% load static %}

{% block title %}
  About Us 
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block body %}

<!-- <h1>Apni Car</h1> -->
<div class="container">
  <img src="{% static 'images/carshop2.jpg' %}" alt="car shop image" >  

  <div class="demo-container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/fastdelivery.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Fast Delivery</h5>
        <!-- <p class="card-text">Some quick example text to build on the Fast Delivery and make up</p> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/service.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Services </h5>
        <!-- <p class="card-text">Some quick example text to build on the Fast Delivery and make up</p> -->
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/insurance2.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Car Insurance </h5>
        <!-- <p class="card-text">Some quick example text to build on the Fast Delivery and make up</p> -->
      </div>
    </div>

  </div>

  <div class="map-container">  
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta beatae dignissimos ut ex, asperiores dolorum facere quia doloribus voluptates deserunt! Eveniet voluptates minus laborum facere amet magnam id! Accusantium, pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa cupiditate a vero reprehenderit, molestiae minima! Libero inventore vel et modi illum soluta ipsam reiciendis iure fuga, sunt quis odit.
      Magnam, iure qui ipsum adipisci praesentium pariatur quidem fuga est modi natus eum recusandae obcaecati, quae deleniti saepe veniam laudantium. Ad ipsa blanditiis sequi expedita! Facere reprehenderit necessitatibus vel nobis.
      Sit saepe enim unde nisi, soluta quos corporis doloribus perspiciatis itaque, fuga quis beatae quae eum quisquam at maiores alias? Atque molestiae dicta ratione ad consequuntur accusamus non molestias fuga.
      Dicta rerum quia sapiente ipsa illum doloribus libero officiis temporibus odit nescre! Veritatis illum, eos obcaecati unde quisquam in cum doloribus laboriosam facere porro repudiandae placeat, dolorum cumque tenetur itaque.   
    </p>
  </div>
</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7341.952487560885!2d72.56165832295801!3d23.061332511213152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848027367157%3A0x9e9b30c166748cfe!2sBhimjipura%2C%20Nava%20Vadaj%2C%20Ahmedabad%2C%20Gujarat%20380013!5e0!3m2!1sen!2sin!4v1675872643566!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock body %}