{% extends "base.html" %}
{% load static %}

{% block title %}
  Inquiry
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/request.css' %}" />
{% endblock css %}

{% block otherlink %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
{% endblock otherlink %}

{% block body %}

  <div class="signup-box">

          <h1> Inquiry </h1>
          <h3> We are there for you </h3>
          
          <form method="POST" >          
              {% csrf_token %}
              
              {% for f in fm %}
                  {{f.label_tag}}  
                  {{f}} <span class="error"> {{f.errors|striptags}} </span>
              {% endfor %}
              <br>
              <button> Send </button>
          </form>
          
    </div> 

{% endblock body %}