*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

nav{
    background-color:#001a33;
    height: 80px;
    width: 100%;
    /* position: relative; */
    top: 0;
}


label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

nav .ul{
    float: right;
    margin-right: 100px !important;
    /* border: 1px solid red; */
}

nav .ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px ;
}

nav .ul div {
    margin-right: 25px;
}

nav .ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

/* a:hover{
    background: white;  
    border: 2px solid white;
    color: aqua;
    transition: .5s;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px;
} */


.dropdown span{
    /* color: black !important; */
    /* line-height: 10px !important; */
    text-transform: uppercase;
    font-size: 17px !important;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* a:visited, a:active, a:checked, a:hover{
    color: white;
} */

@media (max-width: 768px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav .ul li a{
        font-size: 16px;
    }

    /* a.active, a:hover{ */
        /* color: black; */
        /* background: white; */
        /* border: 2px solid white; */
        /* transition: .5s; */
        
    /* } */
}


@media (max-width: 870px) {
    
    #carouselExampleIndicators{
        z-index: 0 !important;
    }

    .checkbtn{
        display: block;
    }

    nav .ul{
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background: #001a33;
        top: 80px;
        left: -100%;
        text-align: center;
        /* transition: all .5s; */
    }

    nav .ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        /* border: 1px solid red; */
    }

    /* a.active, a:hover{ */
        /* background: none; */
        /* color: black; */
        /* background: white; */
        /* border: 2px solid white; */
        /* transition: .5s; */
        
    /* } */

    nav .ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

}

#user-icon{
    position: relative;
    right: 30px;
    bottom: 14px;
    margin: 15px;
    margin-left: 20px;
}

#user-symbol{
    position: absolute;
    font-size: 30px !important;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown span{
    color: white;
    font-size: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown .dropdown-content a:hover{
    color: #0062bd;
  }

  .dropdown .dropdown-content a:active{
    background-color: #f9f9f9;
  }

  .nav-bar-container .ul {
    margin-right: 100px;

  }

 .dropdown .dropdown-content .dropdown-item{
    text-decoration: none;
    color: black;
  }