#footer{
    bottom: 0;
}

.title{
    margin: 20px 30px;
    text-align: center; 
    border: 2px solid; 
    padding: 10px; 
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border-radius: 10px;
    
}

.form-container{
    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 2px solid; */
    /* margin: 30px; */
}

.form-container form{
    margin: auto;
    margin: 20px;
    padding: 20px;
    /* border: 2px solid; */
    width: 50%;
}

select{
    border: 2px solid; 
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

button{
    margin-top: 10px !important;
    padding:10px;
    background-color: blue;
    color: white;
    border-radius: 10px ;
    border: none;
    width: 100%;
    font-size: medium;
}


input {
    /* width: 135px; */
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

div{
    margin: auto;
    padding: 10px;
    display: block;
    /* border: 1px solid; */
}

div *{
    display: block;
    margin: auto;
}

div span{
    /* width: 79% !important; */
    font-weight: 600;
    padding: 5px;
    margin: auto;
}
