{% load static %}

<link rel="stylesheet" href="{% static '/css/footer.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Design<span>-X</span></h3>
        <h4> <span> D̷o̷n̷'̷t dream it,</span> <span style="color: gray;"> Drive it </span> </h4>
        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
            |
            <a href="#">Blog</a> 
        </p>

        <p class="footer-company-name">Copyright © 2021 <strong>DesignX</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p> <span>Bhimjipura</span> Ahmedabad</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 7465645658</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:desinx.com">desinx@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            <strong>DesignX</strong> is website where you can buy and sell your used cars
            without any location bareear
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>

</body>

</html>